table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
  }
:root {
  --md-primary-fg-color:        #B07AA1;
  --md-primary-fg-color--light: #eeafdc;
  --md-primary-fg-color--dark:  #7d436d;
}
[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #B07AA1;
  --md-primary-fg-color--light: #eeafdc;
  --md-primary-fg-color--dark:  #7d436d;
}